@model BotByePOC.Models.PolicyLocation

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PolicyLocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PolicyID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PolicyID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationZip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationZip)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PolicyLocationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
